@import "tailwindcss";

:root {
  --bg: #FBF8F3;
  --text: #3C3232;
  --card: #FCFAF7;
  --accent: #4E6E58;
  --mint: #BEEF8D;
}

.dark {
  --bg: #241D01;
  --text: #AFFDF0;
  --card: #393A4F;
  --accent: #3A745D;
}

html, body {
  /* Change this line */
  min-height: 100%; 
  /* Or use this, which is safer for modern browsers */
  /* min-height: 100vh; */
}

body {
  background-color: var(--bg) !important;
  color: var(--text) !important;
  transition: all 0.3s ease;
  /* Add this just in case */
  overflow-y: auto; 
}